.profile-right-bar {
	flex: 2;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	position: sticky;
	top: 80px;
}

.right-bar-bio,
.right-bar-info {
	margin-right: 20px;
	background-color: #eaecef;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #b4bc51;
}

.info-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.info-key {
	font-size: larger;
	font-weight: 500;
	color: #848fa1;
}

.info-value {
	font-size: 14px;
	font-weight: 500;
}

.bio-text {
	color: var(--gray-color-0);
	font-style: italic;
	font-weight: 600;
}
