.profile-right-bar {
	flex: 2;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	position: sticky;
	top: 80px;
}

.right-bar-bio,
.right-bar-info {
	margin-right: 20px;
	background-color: #eaecef;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #b4bc51;
}

.info-header,
.bio-header {
	color: var(--green-color-0);
}

.info-box {
	display: flex;
	align-items: center;
	gap: 15px;
}

.info-key {
	font-size: 30px;
	color: var(--main-color);
}

.info-value,
.bio-text {
	font-style: italic;
	font-weight: 600;
}
