.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.login-form {
	width: 30%;
	padding: 60px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.login-form-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.login-form-header img {
	width: 60%;
}
.login-form-header h1 {
	color: var(--gray-color-0);
	text-transform: uppercase;
}
.login-form-body {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 90%;
}

.login-form-body-input {
	display: flex;
	flex-direction: column;
}
.btn-chat {
	font-size: 18px;
}
.btn-new {
	background-color: #e0e0e0;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	font-weight: bolder;
	font-size: 18px;
}

.btn-new:hover {
	box-shadow: 0 0 10px #bebebe;
	color: var(--gray-color-0);
}
