.right-bar-friends-list-friend {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: var(--bs-dark);
  align-items: center;
}
.right-bar-friends-list-friend:hover {
  text-decoration: underline;
}
.right-bar-friends-list-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.right-bar-friends-list-text {
  margin: 0;
}
